.elementor-278 .elementor-element.elementor-element-0cb4bd9 .elementor-button{background-color:#9314A3;}@media(max-width:767px){.elementor-278 .elementor-element.elementor-element-e394a2f > .elementor-element-populated{padding:0px 0px 0px 0px;}.elementor-278 .elementor-element.elementor-element-678007c > .elementor-widget-container{margin:0px -8px 0px -8px;padding:0px 0px 0px 0px;}}/* Start custom CSS */#botaum {
  -webkit-animation: pulse 0.8s infinite;
}
.pulse-button:hover {
  -webkit-animation: none;
}/* End custom CSS */